.apicard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.product-card img {
    width: 150px;
    height: 180px;
    object-fit: contain;
}

.product-card h2 {
    font-size: 18px;
}

.product-card p {
    font-size: 14px;
}

.product-card button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}